/*-----------------------------------------*\
              VARIABLES CONFIG
\*-----------------------------------------*/

/*-------------*\
    FONT APP
\*-------------*/

$font-primary:    'Roboto';
$base-font-size:  14px;
$base-font-color: #333333;


/*--------------*\
    WIDTH PAGE
\*--------------*/

$app-width:       1400px;



/*--------------------*\
    COLORS - PRIMARY
\*--------------------*/

$bg-site-color:       #fafafa; //Site background color

$app-color1:          #5069bf; //Principal color
$app-color2:          #999999; //Secondary color

// General GrayColors
$black:               #000000;
$gray-90:             #1a1a1a;
$gray-80:             #333333;
$gray-70:             #4c4c4c;
$gray-60:             #666666;
$gray-50:             #808080;
$gray-40:             #999999;
$gray-30:             #b2b2b2;
$gray-20:             #cccccc;
$gray-15:             #d9d9d9;
$gray-10:             #e6e6e6;
$gray-5:              #f2f2f2;
$gray-2:              #f7f7f7;
$gray-1:              #fafafa;
$white:               #ffffff;